__pycache__
.idea
doc/_build
.ipynb_checkpoints
build
.vscode
/.vs/pysubgroup/v16
/env_pysubgroup_new
/pysubgroup.egg-info
.vs
/.pytest_cache/v/cache
/TestResults
/env_pysubgroup
/pysubgroup/tests/program.prof
/pysubgroup/tests/tmp.py
/Untitled.ipynb
